@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

/* ========================================== CUSTOM STYLES */
@layer base {
	/* Remove scrollbar */
	.remove-scrollbar::-webkit-scrollbar {
		width: 0px;
		height: 0px;
		border-radius: 0px;
	}

	.remove-scrollbar::-webkit-scrollbar-track {
		background: transparent;
	}

	.remove-scrollbar::-webkit-scrollbar-thumb {
		background: transparent;
		border-radius: 0px;
	}

	.remove-scrollbar::-webkit-scrollbar-thumb:hover {
		background: transparent;
	}
}

:root {
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
	background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
	color: rgb(34 211 238 / 0.7);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
}

nav a {
	margin: 0 1rem;
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header nav span {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	visibility: hidden;
	opacity: 0;
	font-size: 1.5rem;
}

h3 {
	color: #a4b1cd;
}

/* Scrollbar styles */
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: var(--mainColor);
}

::-webkit-scrollbar-thumb {
	background: var(--secondaryColor);
	border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
	background: transparent;
}
